# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Node.js testing
/coverage

# Node.js production
/build

# Misc
.DS_Store
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Additional rules
../files
node_modules
.history

# .NET Core build outputs
bin/
obj/

# .NET Core user-specific files
*.user
*.suo
.vscode/
.idea/
*.swp

# .NET Core build artifacts
*.dll
*.exe
*.pdb
*.apphost.exe

# Log files
*.log
