.w-unset {
    width: unset !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.w-1px {
    width: 1px !important;
}

.w-2px {
    width: 2px !important;
}

.w-3px {
    width: 3px !important;
}

.w-4px {
    width: 4px !important;
}

.w-5px {
    width: 5px !important;
}

.w-6px {
    width: 6px !important;
}

.w-7px {
    width: 7px !important;
}

.w-8px {
    width: 8px !important;
}

.w-9px {
    width: 9px !important;
}

.w-10px {
    width: 10px !important;
}

.w-15px {
    width: 15px !important;
}

.w-20px {
    width: 20px !important;
}

.w-25px {
    width: 25px !important;
}

.w-30px {
    width: 30px !important;
}

.w-35px {
    width: 35px !important;
}

.w-40px {
    width: 40px !important;
}

.w-45px {
    width: 45px !important;
}

.w-50px {
    width: 50px !important;
}

.w-55px {
    width: 55px !important;
}

.w-60px {
    width: 60px !important;
}

.w-65px {
    width: 65px !important;
}

.w-70px {
    width: 70px !important;
}

.w-75px {
    width: 75px !important;
}

.w-80px {
    width: 80px !important;
}

.w-85px {
    width: 85px !important;
}

.w-90px {
    width: 90px !important;
}

.w-95px {
    width: 95px !important;
}

.w-100px {
    width: 100px !important;
}

.w-125px {
    width: 125px !important;
}

.w-150px {
    width: 150px !important;
}

.w-175px {
    width: 175px !important;
}

.w-200px {
    width: 200px !important;
}

.w-225px {
    width: 225px !important;
}

.w-250px {
    width: 250px !important;
}

.w-275px {
    width: 275px !important;
}

.w-300px {
    width: 300px !important;
}

.w-325px {
    width: 325px !important;
}

.w-350px {
    width: 350px !important;
}

.w-375px {
    width: 375px !important;
}

.w-400px {
    width: 400px !important;
}

.w-425px {
    width: 425px !important;
}

.w-450px {
    width: 450px !important;
}

.w-475px {
    width: 475px !important;
}

.w-500px {
    width: 500px !important;
}

.w-550px {
    width: 550px !important;
}

.w-600px {
    width: 600px !important;
}

.w-650px {
    width: 650px !important;
}

.w-700px {
    width: 700px !important;
}

.w-750px {
    width: 750px !important;
}

.w-800px {
    width: 800px !important;
}

.w-850px {
    width: 850px !important;
}

.w-900px {
    width: 900px !important;
}

.w-950px {
    width: 950px !important;
}

.w-1000px {
    width: 1000px !important;
}

.mw-unset {
    max-width: unset !important;
}

.mw-25 {
    max-width: 25% !important;
}

.mw-50 {
    max-width: 50% !important;
}

.mw-75 {
    max-width: 75% !important;
}

.mw-100 {
    max-width: 100% !important;
}

.mw-auto {
    max-width: auto !important;
}

.mw-1px {
    max-width: 1px !important;
}

.mw-2px {
    max-width: 2px !important;
}

.mw-3px {
    max-width: 3px !important;
}

.mw-4px {
    max-width: 4px !important;
}

.mw-5px {
    max-width: 5px !important;
}

.mw-6px {
    max-width: 6px !important;
}

.mw-7px {
    max-width: 7px !important;
}

.mw-8px {
    max-width: 8px !important;
}

.mw-9px {
    max-width: 9px !important;
}

.mw-10px {
    max-width: 10px !important;
}

.mw-15px {
    max-width: 15px !important;
}

.mw-20px {
    max-width: 20px !important;
}

.mw-25px {
    max-width: 25px !important;
}

.mw-30px {
    max-width: 30px !important;
}

.mw-35px {
    max-width: 35px !important;
}

.mw-40px {
    max-width: 40px !important;
}

.mw-45px {
    max-width: 45px !important;
}

.mw-50px {
    max-width: 50px !important;
}

.mw-55px {
    max-width: 55px !important;
}

.mw-60px {
    max-width: 60px !important;
}

.mw-65px {
    max-width: 65px !important;
}

.mw-70px {
    max-width: 70px !important;
}

.mw-75px {
    max-width: 75px !important;
}

.mw-80px {
    max-width: 80px !important;
}

.mw-85px {
    max-width: 85px !important;
}

.mw-90px {
    max-width: 90px !important;
}

.mw-95px {
    max-width: 95px !important;
}

.mw-100px {
    max-width: 100px !important;
}

.mw-125px {
    max-width: 125px !important;
}

.mw-150px {
    max-width: 150px !important;
}

.mw-175px {
    max-width: 175px !important;
}

.mw-200px {
    max-width: 200px !important;
}

.mw-225px {
    max-width: 225px !important;
}

.mw-250px {
    max-width: 250px !important;
}

.mw-275px {
    max-width: 275px !important;
}

.mw-300px {
    max-width: 300px !important;
}

.mw-325px {
    max-width: 325px !important;
}

.mw-350px {
    max-width: 350px !important;
}

.mw-375px {
    max-width: 375px !important;
}

.mw-400px {
    max-width: 400px !important;
}

.mw-425px {
    max-width: 425px !important;
}

.mw-450px {
    max-width: 450px !important;
}

.mw-475px {
    max-width: 475px !important;
}

.mw-500px {
    max-width: 500px !important;
}

.mw-550px {
    max-width: 550px !important;
}

.mw-600px {
    max-width: 600px !important;
}

.mw-650px {
    max-width: 650px !important;
}

.mw-700px {
    max-width: 700px !important;
}

.mw-750px {
    max-width: 750px !important;
}

.mw-800px {
    max-width: 800px !important;
}

.mw-850px {
    max-width: 850px !important;
}

.mw-900px {
    max-width: 900px !important;
}

.mw-950px {
    max-width: 950px !important;
}

.mw-1000px {
    max-width: 1000px !important;
}

.vw-100 {
    width: 100vw !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}
